
/*.navbar-icon-top .navbar-nav .nav-link > .fa {*/
/*  position: relative;*/
/*  width: 36px;*/
/*  font-size: 24px;*/
/*}*/

/*.navbar li:hover a {*/
/*  background: #19B3D3 ;*/
/*  color: #fff !important;*/
/*}*/
/*!*.navbar li:active {*!*/
/*!*  background: #19B3D3 ;*!*/
/*!*  color: #fff !important;*!*/
/*!*}*!*/

/*.navbar li:hover ul.dropdown-menu {*/
/*  display: block;*/
/*}*/

/*.navbar li ul.dropdown-menu {*/
/*  position: absolute;*/
/*  display: none;*/
/*  width: 200px;*/
/*  background: #19B3D3;*/
/*  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
/*  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
/*  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
/*  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
/*  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
/*  padding-top: 0;*/
/*}*/

/*!*hover where drowping*!*/
/*.navbar li:first-child:hover a { border-radius: 3px 0 0 3px; }*/

/*.navbar li ul.dropdown-menu a:hover { background: rgba(0,0,0, .1); }*/

/*!*.navbar li ul.dropdown-menu a:active { background: rgba(0,0,0, .1); }*!*/

/*.navbar li ul.dropdown-menu a:first-child:hover { border-radius: 0; }*/

/*.navbar li:hover .arrow-down { border-top: 5px solid #fff; }*/


/*.navbar-icon-top .navbar-na
.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}
v .nav-link > .fa > .badge {*/
/*  font-size: 0.75rem;*/
/*  position: absolute;*/
/*  right: 0;*/
/*  font-family: sans-serif;*/
/*}*/

/*.navbar-icon-top .navbar-nav .nav-link > .fa {*/
/*  top: 3px;*/
/*  line-height: 12px;*/
/*}*/

/*.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {*/
/*  top: -10px;*/
/*}*/

/*@media (min-width: 576px) {*/
/*  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {*/
/*    text-align: center;*/
/*    display: table-cell;*/
/*    height: 70px;*/
/*    vertical-align: middle;*/
/*    padding-top: 0;*/
/*    padding-bottom: 0;*/
/*  }*/

/*  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {*/
/*    display: block;*/
/*    width: 48px;*/
/*    margin: 2px auto 4px auto;*/
/*    top: 0;*/
/*    line-height: 24px;*/
/*  }*/

/*  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {*/
/*    top: -7px;*/
/*  }*/
/*}*/

/*@media (min-width: 768px) {*/
/*  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {*/
/*    text-align: center;*/
/*    display: table-cell;*/
/*    height: 50px;*/
/*    vertical-align: middle;*/
/*    padding-top: 0;*/
/*    padding-bottom: 0;*/
/*  }*/

/*  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {*/
/*    display: block;*/
/*    width: 48px;*/
/*    margin: 2px auto 4px auto;*/
/*    top: 0;*/
/*    line-height: 24px;*/
/*  }*/

/*  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {*/
/*    top: -7px;*/
/*  }*/
/*}*/

/*@media (min-width: 992px) {*/
/*  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {*/
/*    text-align: center;*/
/*    display: table-cell;*/
/*    height: 70px;*/
/*    vertical-align: middle;*/
/*    padding-top: 0;*/
/*    padding-bottom: 0;*/
/*  }*/

/*  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {*/
/*    display: block;*/
/*    width: 48px;*/
/*    margin: 2px auto 4px auto;*/
/*    top: 0;*/
/*    line-height: 24px;*/
/*  }*/

/*  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {*/
/*    top: -7px;*/
/*  }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {*/
/*    text-align: center;*/
/*    display: table-cell;*/
/*    height: 70px;*/
/*    vertical-align: middle;*/
/*    padding-top: 0;*/
/*    padding-bottom: 0;*/
/*  }*/

/*  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {*/
/*    display: block;*/
/*    width: 48px;*/
/*    margin: 2px auto 4px auto;*/
/*    top: 0;*/
/*    line-height: 24px;*/
/*  }*/

/*  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {*/
/*    top: -7px;*/
/*  }*/
/*}*/

 /************************************************/
/**********************************NAVBAR**********************************************/

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

/*!*hover where drowping*!*/
/*.navbar li:first-child:hover a { border-radius: 3px 0 0 3px; }*/

/*.navbar li ul.dropdown-menu a:hover { background: rgba(0,0,0, .1); }*/

/*.navbar li ul.dropdown-menu a:active { background: rgba(0,0,0, .1); }*/

/*.navbar li ul.dropdown-menu a:first-child:hover { border-radius: 0; }*/

/*.navbar li:hover .arrow-down { border-top: 5px solid #fff; }*/

.navbar li:hover { background: #19B3D3;border: 30px;  }
.navbar li a:hover { background: #19B3D3; }
