<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="adduser">

<!--  <div class="d-flex justify-content-between col-12 d-inline-block">-->
<!--    <h1 class="text-center p-2 font-weight-bold">Listes des Profils de sortie</h1>-->
<!--    <a  class="text-right p-2 font-weight-bold" routerLink="/addprofildeSortie"><i class="fa fa-user-plus fa-3x"></i></a>-->
<!--  </div>-->

<div class="container signup-form offset-lg-3 offset-sm-1 offset-md-0 offset-0">

  <h1>Add User</h1>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="form-label text-white font-weight-bold" for="inputEmail4">Firstname</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="firstname">
        <span class="text-danger">********************</span>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4" class="form-label text-white font-weight-bold">Lastname</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="lastname">
        <span class="text-danger">********************</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="form-label text-white font-weight-bold" for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail5" placeholder="Email">
        <span class="text-danger">********************</span>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4" class="form-label text-white font-weight-bold">Username</label>
        <input type="password" class="form-control" id="inputPassword6" placeholder="password">
        <span class="text-danger">********************</span>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity" class="form-label text-white font-weight-bold">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState" class="form-label text-white font-weight-bold" placeholder="profil">Profil</label>
        <select id="inputState" class="form-control" >
           <option selected ></option>
          <option>ADMIN</option>
          <option>APPRENANT</option>
          <option>CM</option>
          <option>FORMATEUR</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip" class="form-label text-white font-weight-bold">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
            <input type="file">
      </div>
      <div class="form-group col-md-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, aperiam eaque et fugiat hic
        impedit ipsam necessitatibus nihil numquam odit repudiandae saepe sed vero
        voluptates, voluptatibus! Aliquam dolorum earum maiores quas qui rem voluptatibus?
      </div>
      <div class="form-group col-md-2">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label text-white" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="mt-3 font-weight-bold rounded h4 btn-outline-dark" routerLink="/admin/listUsers" style="margin-bottom: 12px">Sign in</button>
  </form>
</div>
</div>
