:root {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body{
  /*height: 100vh;*/
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  min-height: 0;
  /*min-height: 44.5em; */
  background-repeat: no-repeat;
  /*max-height: max-content;*/
  max-height: 0;
  padding-bottom: 0;
  /*padding-bottom: 122px;*/
  overflow-y: visible;
  width: 100%;
}
