<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="container offset-lg-2 offset-md-2 offset-sm-2 offset-0" >

      <div class="d-flex justify-content-between col-12 d-inline-block">
          <h1 class="text-center p-2 font-weight-bold">Listes des Competences</h1>
          <a  class="text-right p-2 font-weight-bold" routerLink="/addCompetence">
              <button type="button" class="btn btn-primary btn-rounded" style="border-radius: 5px">
                  <span class="font-weight-bold text-white">Nouveau</span>
              </button>
          </a>
      </div>

      <div class="col-12" style="top: 62px;box-shadow: 10px 5px 5px gray; background-color: white">
          <div class="row">
            <div class="col-lg-4 col-md-12 mt-md-4 col-sm-12 col-12   mt-4" style="border: black solid 2px">
               <div class="mt-4 mb-4 border border-dark rounded-3">
                   <select class="custom-select" [(ngModel)]="selectedOption" (ngModelChange)="optionChoised($event)">
                         <option selected value="selectDefault">select a competence</option>
                         <option  *ngFor="let competence of competences" value="{{competence.id}}"
                                 >{{competence.nomCompetence}}</option>
                   </select>
               </div>
                  <!--  libelle competence   -->
                  <div class="scroller">
                      {{libelle}}
                  </div>
              </div>
              <div class="col-lg-8 col-md-12 mt-md-4 col-sm-12 col-12   mt-4">

    <!--  ================================================NIVEAUX======================================== -->

                  <button type="button" class="btn btn-primary ml-3" data-toggle="collapse" data-target="#demo1">Niveau1</button
                  ><button type="button" class="btn btn-primary ml-3" data-toggle="collapse" data-target="#demo2">Niveau2</button>
                  <button type="button" class="btn btn-primary ml-3" data-toggle="collapse" data-target="#demo3">Niveau3</button>

                  <!--   niveau1   -->
                  <div class="collapse border border-dark border-3 mt-4" id="demo1">
                    <div class="card card-body">
                      <div class="d-flex flex-nowrap">
                        <div class="order-1 p-2 border border-dark border-2">
                          <h3>Groupe d'actions à réaliser (N1)</h3>
                             {{groupeDaction1}}
                        </div>
                        <div class="order-2 p-2 border border-dark border-2">
                          <h3>Critères d'évaluation</h3>
                              {{criteredEvaluation1}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--   niveau2   -->
                  <div class="collapse border border-dark border-3 mt-4" id="demo2">
                    <div class="card card-body">
                      <div class="d-flex flex-nowrap">
                        <div class="order-1 p-2 border border-dark border-2">
                          <h3>Groupe d'actions à réaliser (N2)</h3>
                          {{groupeDaction2}}
                        </div>
                        <div class="order-2 p-2 border border-dark border-2">
                          <h3>Critères d'évaluation</h3>
                          {{criteredEvaluation2}}
                        </div>
                      </div>
                    </div>
                  </div>
                <!--   niveau3   -->
                  <div class="collapse border border-dark border-3 mt-4" id="demo3">
                      <div class="card card-body">
                          <div class="d-flex flex-nowrap">
                              <div class="order-1 p-2 border border-dark border-2">
                                 <h3>Groupe d'actions à réaliser (N3)</h3>
                                {{groupeDaction3}}
                              </div>
                              <div class="order-2 p-2 border border-dark border-2">
                                <h3>Critères d'évaluation</h3>
                                {{criteredEvaluation3}}
                              </div>
                          </div>
                      </div>
                </div>

    <!--  =============================================END NIVEAUX======================================== -->

             </div>
        </div>
    </div>

</div>
