
<table class="table table-hover mt-5" style="box-shadow: 10px 5px 5px gray;background-color: white">
    <thead class="bg-dark">
        <tr>
            <th scope="col" class="text-white text-center">Id</th>
            <th></th>
            <th scope="col" class="text-white text-center">Username</th>
            <th scope="col" class="text-white text-center">Avatar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of profils.users | paginate: { id: 'profil',
                                                          itemsPerPage: 4,
                                                          currentPage: page,
                                                          totalItems: totalprofils }" >
            <td class="text-center justify-content-center font-weight-bold d-flex align-self-center m-4">
              <a routerLink="/listUsers/{{user?.id}}/detail">{{user?.id}}</a>
            </td>
            <td></td>
              <td class="text-center justify-content-center font-weight-bold d-flex align-self-center m-4" style="padding-top: 12px">
                <a routerLink="/listUsers/{{user?.id}}/detail" title="Go for this user"><h5>{{user?.username}}</h5></a> </td>
            <td scope="row">
                    <span *ngIf="user.photo">
                          <a routerLink="/listUsers/{{user?.id}}/detail">
                               <img src="data:image/jpeg;base64,{{user.photo }}" class="img-thumbnail"  alt="" style="height: 60px;width: 60px">
                          </a>
                    </span>
                    <span *ngIf="!user.photo">
                          <a routerLink="/listUsers/{{user?.id}}/detail">
                               <img src="assets/img/avatar1.png" class="img-thumbnail"  alt="" style="height: 60px;width: 60px">
                          </a>
                    </span>
            </td>
        </tr>
    </tbody>

</table>
<div class="d-flex justify-content-center">
  <pagination-controls id="profil" (pageChange)="page = $event"></pagination-controls>
</div>
