<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="container signup-form offset-lg-2 offset-sm-1 offset-md-0 offset-0 ">

    <h1>Création d'une promotion</h1>
    <form>
        <div class="form-row justify-content-center mt-4">
            <div class="form-group col-md-2 mt-2  ">
                <label class="form-label text-white font-weight-bold mt-4">Choix de le langue</label>
            </div>
            <div class="form-group col-md-6 mt-4">
                <select class="form-control sells" id="gender1">
                    <option>choose a language</option>
                    <option>Français</option>
                    <option>Englais</option>
                    <option>Arabe</option>
                </select>
                <span class="text-dark">********************</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">

            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress" class="font-weight-bold text-white mt-3">Title</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="choisissez le titre le plus, le plus pro et le plus accrocheur possible">
        </div>
        <div class="form-group">
            <label for="inputAddress" class="font-weight-bold text-white mt-3">Description de la promotion</label>
            <textarea name="story" rows="5" cols="33" class="form-control" id="descriptif" placeholder="Ecrivez ici une description rapide, simple et concise"></textarea>
        </div>
        <div class="form-group">
            <label for="inputAddress" class="font-weight-bold text-white mt-3">Lieu de la promotion</label>
            <textarea name="story" rows="1" cols="23" class="form-control" id="lieu" placeholder="Indiquez la région dans laquelle se trouve votre promotion"></textarea>
        </div>
        <div class="form-group">
            <label for="inputAddress" class="font-weight-bold text-white mt-3">Reference Agate</label>
            <textarea name="story" rows="1" cols="23" class="form-control" id="refAg" placeholder="la référence Agate est un code analytique à demander à votre responsable formation si vous ne l'avez pas"></textarea>
        </div>
        <div class="form-row justify-content-center mt-4">
            <div class="form-group col-md-2 mt-2  ">
                <label class="form-label text-white font-weight-bold mt-4">Choix de le fabrique</label>
            </div>
            <div class="form-group col-md-6 mt-4">
                <select class="form-control sells" id="fabrique">
                    <option>choix de la fabrique</option>
                    <option>Immeuble</option>
                    <option>Flat</option>
                </select>
                <span class="text-dark">********************</span>
            </div>
        </div>
        <div class="form-group">
          <label for="inputAddress" class="font-weight-bold text-white mt-3">Date</label>
          <input type="date" class="form-control" id="date" placeholder="">
        </div>
        <div class="form-group col-6 justify-content-center offset-3">
            <!--        <select name="" id="">-->
            <!--            <option value="">Maitrise base de donnée </option>-->
            <!--            <option value="">Angular & Java</option>-->
            <!--        </select>-->
            <label for="expertise" class="font-weight-bold text-white mt-3 col-sm-2 control-label">Referentiels</label>
            <select class="form-control inputstl" id="expertise" multiple>
              <option class="font-italic font-weight-bold">Developpeur back</option>
              <option class="font-italic font-weight-bold">Data Artisan</option>
              <option class="font-italic font-weight-bold">Developpeur back</option>
              <option class="font-italic font-weight-bold">CM</option>
            </select> <i class="fa fa-plus-square fa-2x"></i>
        </div>
        <div class="form-group">
              <!-- place photo -->
        </div>
        <!-- referentiels -->
<!--        <div class="form-group">-->
<!--            <h4 class="font-weight-bold text-white">Referentiels</h4>-->
<!--            <button class="text-dark col-3 mt-3 ml-2"  [style.backgroundColor]="refcolor" style="height: 7em;">-->
<!--                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam illo itaqu-->
<!--            </button>-->
<!--            <button class="text-dark col-3 mt-3 ml-2" style="height: 7em;">-->
<!--                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam illo itaqu-->
<!--            </button>-->
<!--           -->
<!--        </div>-->
<!--      end referentiels -->
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label text-white" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="mt-3 font-weight-bold rounded h4 btn-outline-dark" routerLink="/listPromotion"
                style="margin-bottom: 12px">Soumettre</button>
    </form>
</div>


