<div class="card text-center" >
      <div class="card-header d-flex justify-content-between bg-dark">
            <span class="text-white font-weight-bold">{{ ItemReferentiel.libelle }}</span>
            <span>
                  <a href="" title="edit this crew capacity" routerLink="/editReferentiel/{{ItemReferentiel.id}}">
                    <i class="fa fa-edit fa-2x"></i></a> &nbsp;
                  <a title="delete this crew capacity" (click)="deleteReferentiel(ItemReferentiel.id)"
                     class="text-danger"><i class="fa fa-trash fa-2x"> </i></a>
              </span>
      </div>
      <div class="card-body">
            <h5 class="card-title">Presentation</h5>
            <p class="card-text"> </p>
            <a class="btn btn-primary">Details</a>
      </div>
      <div class="card-footer text-muted">Groupe de competences</div>
      <div class="card-footer text-muted">Programme</div>
      <div class="card-footer text-muted">Critère d'evaluation</div>
      <div class="card-footer text-muted">Critère d'admission</div>
</div>

