<!--APPRENANT-->
<!--  <td class="float-left">-->
<!--    <button class="btn btn-primary badge-pill" style="width: 80px;width: 130px;" routerLink="/admin/detail">Liste admin</button>-->
<!--    <button class="btn btn-dark ml-4 badge-pill" style="width: 80px;width: 130px;" routerLink="/admin/edit">Edit</button>-->
<!--    <button class="btn btn-danger ml-4 badge-pill" style="width: 80px;width: 130px;">Delete</button>-->
<!--  </td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td class="align-items-center text-center">FORMATEUR</td>-->
<!--  <td class="text-center">-->
<!--    <button class="btn btn-primary  badge-pill" style="width: 130px;" routerLink="/admin/detail">Liste formateur</button>-->
<!--    <button class="btn btn-dark  badge-pill ml-4" style="width: 130px;" routerLink="/admin/edit">Edit</button>-->
<!--    <button class="btn btn-danger  badge-pill ml-4" style="width: 130px;">Delete</button>-->
<!--  </td>-->
<!--</tr>-->
<!--<tr>-->
<!--  <td class="align-items-center text-center">CM</td>-->
<!--  <td class="text-center">-->
<!--    <button class="btn btn-primary  badge-pill" style="width: 130px;" routerLink="/admin/detail">Liste cm</button>-->
<!--    <button class="btn btn-dark  badge-pill ml-4" style="width: 130px;" routerLink="/admin/edit">Edit</button>-->
<!--    <button class="btn btn-danger  badge-pill ml-4" style="width: 130px;">Delete</button>-->
<!--  </td>-->
<!--</tr>-->
