<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="container offset-lg-3 offset-md-3 offset-sm-1 offset-0">

  <div class="d-flex justify-content-between col-12 d-inline-block">
    <h1 class="text-center p-2 font-weight-bold">Listes groupe de competences</h1>
    <a  class="text-right p-2 font-weight-bold" routerLink="/addGrpeCompetence"><i class="fa fa-user-plus fa-3x"></i></a>
  </div>

  <div class="col-lg-12">
       <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-12  mt-4 mb-4" style="box-shadow: 2px 1px 2px gray;"
                    *ngFor="let grpecompetence of grpecompetences">
              <app-item-grpecompetence></app-item-grpecompetence>
          </div>
      </div>

      <div>
          <nav aria-label="...">
            <ul class="pagination pagination-circle">
              <li class="page-item">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2<span class="visually-hidden">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
      </div>

  </div>
</div>


