 <div class="card text-center mb-4">
    <div class="card-header d-flex justify-content-between bg-dark">
      <span class="text-white font-weight-bold">Promotion</span>
      <span><a href=""><i class="fa fa-edit fa-2x"></i></a> &nbsp; <a routerLink=""><i class="fa fa-trash fa-2x">
                      </i></a></span>
    </div>
    <div class="card-body">
      <h5 class="card-title">Description</h5>
      <p class="card-text">
        With supporting text below as a ...
      </p>
      <a href="#" class="btn btn-primary">Details</a>
    </div>
  </div>

