<app-header></app-header>
<app-sidebar></app-sidebar>

<body>
    <header id="myHearder">
        <div id="navbar">
            <nav id="myNav">
                <ul>
                    <li><a>Archiving</a></li>
                    <li><a>Advanced</a></li>
<!--                    <li><a>Skills</a></li>-->
<!--                    <li><a>Contact</a></li>-->
                </ul>
            </nav>
        </div>

    </header>
    <section id="list">
          <app-archiving-data></app-archiving-data>
    </section>
</body>

